h1 {
    text-align: center;
}

.control {
    padding: 7px 0;
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.contener {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    grid-gap: 5px;
    grid-auto-flow: row;
    justify-content: center;
}
.puz {
    display: flex;
    background-color: cadetblue;
    width: inherit;
    height: inherit;
    border: 2px solid black;
}

.puz_blank {
    background-color: bisque;
}

span {
    margin: auto;
    font-size: 30px;
}

